body {
    font-family: Roboto, serif;
}
.photo img {
     height: 200px;
     border-radius: 50%;
     text-align: center;
     margin: auto;
     display: flex;
 }
#infos {
    text-align: center;
}
#job_name {
    text-align: center;
}
#job_name .container h1 {
    color: aqua;
}
.citation .container {
    border: 5px solid #F5DEB3;
    box-shadow: 8px 8px 12px, 0 0 65px #cdbe9f inset, 0 0 20px black inset, 0 0 2px #816f47;
}
.experiences_title h2 {
    text-decoration: underline;
    margin-top: 60px;
}
#experiences {
    background: #e8c04f;
}
#experiences .container ul .mairie .date {
    color: blue;
}
#experiences .container ul .simplon_carbonne .date {
    color: blue;
}
#experiences .container ul .badblock .date {
    color: blue;
}
.skills_title h2 {
    text-decoration: underline;
    margin-top: 60px;
}
#skills .container .html_css .progress {
    padding: 2px;
    width: 100%;
    max-width: 200px;
    border: 3px solid grey;
    height: 15px;
}
#skills .container .html_css .progress .progress_bar {
    height: 100%;
    width: 65%;
    background-color: blue;
    color: white;
    text-align: center;
}
#skills .container .jetbrains_tools .progress {
    padding: 2px;
    width: 100%;
    max-width: 200px;
    border: 3px solid grey;
    height: 15px;
}
#skills .container .jetbrains_tools .progress .progress_bar {
    height: 100%;
    width: 80%;
    background-color: blue;
    color: white;
    text-align: center;
}
#skills .container .git .progress {
    padding: 2px;
    width: 100%;
    max-width: 200px;
    border: 3px solid grey;
    height: 15px;
}
#skills .container .git .progress .progress_bar {
    height: 100%;
    width: 80%;
    background-color: blue;
    color: white;
    text-align: center;
}
#skills .container .domain .progress {
    padding: 2px;
    width: 100%;
    max-width: 200px;
    border: 3px solid grey;
    height: 15px;
}
#skills .container .domain .progress .progress_bar {
    height: 100%;
    width: 70%;
    background-color: blue;
    color: white;
    text-align: center;
}
#skills .container .database .progress {
    padding: 2px;
    width: 100%;
    max-width: 200px;
    border: 3px solid grey;
    height: 15px;
}
#skills .container .database .progress .progress_bar {
    height: 100%;
    width: 60%;
    background-color: blue;
    color: white;
    text-align: center;
}
#skills .container .python .progress {
    padding: 2px;
    width: 100%;
    max-width: 200px;
    border: 3px solid grey;
    height: 15px;
}
#skills .container .python .progress .progress_bar {
    height: 100%;
    width: 35%;
    background-color: blue;
    color: white;
    text-align: center;
}
#skills .container .php .progress {
    padding: 2px;
    width: 100%;
    max-width: 200px;
    border: 3px solid grey;
    height: 15px;
}
#skills .container .php .progress .progress_bar {
    height: 100%;
    width: 20%;
    background-color: blue;
    color: white;
    text-align: center;
}
#skills .container .js .progress {
    padding: 2px;
    width: 100%;
    max-width: 200px;
    border: 3px solid grey;
    height: 15px;
}
#skills .container .js .progress .progress_bar {
    height: 100%;
    width: 40%;
    background-color: blue;
    color: white;
    text-align: center;
}
.formation_title h2 {
    text-decoration: underline;
    margin-top: 60px;
}
#formation .container ul .simplon .localisation {
    color: blue;
}
#formation .container ul .lycee .localisation {
    color: blue;
}
#formation {
    background: limegreen;
}
.interets_title h2 {
    text-decoration: underline;
    margin-top: 60px;
}
#reve {
    margin-top: 60px;
    border: 5px solid blue;
    text-align: center;
}